::-webkit-scrollbar{
    width:0;
    height:0;
    background-color:#000;
}
::-webkit-scrollbar-thumb{
    -webkit-border-radius: 1px;
    background-color:#000;
    height:1px;
}
/*body{
    background: url(../images/bg1.jpg) center 0 no-repeat;
    background-size: cover;
    width:100%;
    height:100%;
}*/
.vgear-box{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
}
#ldwrap{
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    z-index:100;
    top:0;
    left:0;
}
/*@media screen and ( max-device-height:720px){
  #ldwrap{ height:720px;}
  #footer{ margin-top:-17px;}
}

@media screen and ( min-device-height:800px) {
  #ldwrap{ height:800px;}
}

@media screen and ( min-device-height:900px) {
  #ldwrap{ height:900px;}
}

@media screen and ( min-device-height:1080px) {
  #ldwrap{ height:1080px;}
}

@media screen and ( min-device-height:1200px) {
  #ldwrap{ height:1200px;}
}*/
#ldmain{
    height:auto;
    position:relative;
    z-index:2;
    padding:0 40px;
}
#main-top{
    width:100%;
    padding-top:40px;
    box-sizing: border-box;
}
.topbox{
    position:absolute;
    top:7%;
    right:10px;
    width:35%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.topleft{
    width:85px;
    height:85px;
    position:relative;
    overflow:hidden;
    margin-left:10px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.topleft img{
    width:100%;
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.topright{
    font-size:46px;
    margin-left:20px;
}

#main-container{
    height:830px;
    overflow:hidden;
    overflow-y:auto;
}
.pc-photos{
    overflow:hidden;
}
.pc-photos a{
    width: 38%;
    height: 220px;
    display: block;
    float: left;
    text-align: center;
    overflow: hidden;
}
.swipebox img{
    width:100%;
}
.swipebox{
    margin-left:20px;
}
.wxpctit{
    font-size: 20px;
    text-align: center;
    margin-bottom: 0.1rem;
    text-transform: uppercase;
    text-shadow: 0 0 5px #FFDD00, 0 0 10px #FFDD00, 0 0 15px #FFDD00, 0 0 40px #fff, 0 0 70px #fff;
}
#main-container ul li{
    width:60%;
    height:auto;
    padding:20px;
    background:rgba(0,0,0,.5);
    border-radius: 6px;
    margin-bottom:15px;
    display:block;
    position:relative;
    margin-left:10px;
}
#main-container ul li.isact{
    background:url("../images/bg2.png") no-repeat;
    background-size: 100% 100%;
}

.lileft{
    width:90px;
    height:90px;
    border-radius:6px;
    display:block;
}
.liright{
    width:540px;
    margin-left:20px;
}
.saycont{
    font-size:36px;
    word-break:break-all;
    word-wrap: break-word;
}
.litime{
    position:absolute;
    top:25px;
    right:25px;
}
.licup{
    width:30px;
    height:30px;
    position:absolute;
    top:-10px;
    left:-10px; 
}
li.isact .nickname{
    color:#fff;
}
li.isact .saycont{
    font-size: 40px;
}
.qrfind{
    width:250px;
    position:absolute;
    top:23%;
    right:6%;
}
.qrscan{
    width:100%;
    display:block;
}
.foodpic{
    position:relative;
    width:250px;
    height:250px;
    margin:0 auto;
    margin-top:50px;
    overflow:hidden;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.foodpic img{
    display:block;
    position:absolute;
    height:100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
}
#grbanner{
    width:250px;
    height:250px;
    overflow:hidden;
}
#grbanner li{
    width:250px;
    height:250px;
    float:left;
}
@media screen and (max-width:1366px){
    .qrfind{
        width:180px;
        position:absolute;
        top:16%;
        right:8%;
    }
    .foodpic{
        width:180px;
        height:180px;
    }
    #grbanner{
        width:180px;
        height:180px;
    }
    .topright{
        font-size:38px;
    }
}
@media screen and (max-width:1360px){
    .qrfind{
        width:180px;
        position:absolute;
        top:16%;
        right:8%;
    }
    .topright{
        font-size:38px;
    }
    .foodpic{
        width:180px;
        height:180px;
    }
    #grbanner{
        width:180px;
        height:180px;
    }
}

/*聊天背景样式*/
#main-container ul li.hotbg .saycont,#main-container ul li.hugbh .saycont,#main-container ul li.kissbg .saycont,#main-container ul li.lovebg .saycont{
    font-size:48px;
}
#main-container ul li.hotbg{
    background: -webkit-linear-gradient(bottom, #F8403D , #F96F6F);
    background: -o-linear-gradient(top, #F8403D, #F96F6F);
    background: -moz-linear-gradient(top, #F8403D, #F96F6F);
    background: linear-gradient(to top, #F8403D , #F96F6F);
}
#main-container ul li.hugbg{
    background: -webkit-linear-gradient(bottom, #E7327B , #F76CAB);
    background: -o-linear-gradient(top, #E7327B, #F76CAB);
    background: -moz-linear-gradient(top, #E7327B, #F76CAB);
    background: linear-gradient(to top, #E7327B , #F76CAB);
}
#main-container ul li.kissbg{
    background: -webkit-linear-gradient(bottom, #F89A2B , #F2BD6D);
    background: -o-linear-gradient(top, #F89A2B, #F2BD6D);
    background: -moz-linear-gradient(top, #F89A2B, #F2BD6D);
    background: linear-gradient(to top, #F89A2B , #F2BD6D);
}
#main-container ul li.lovebg{
    background: -webkit-linear-gradient(bottom, #A833AC , #EA6EDE);
    background: -o-linear-gradient(top, #A833AC, #EA6EDE);
    background: -moz-linear-gradient(top, #A833AC, #EA6EDE);
    background: linear-gradient(to top, #A833AC , #EA6EDE);
}
.icons{
    width:50px;
    height:50px;
    position:absolute;
    bottom:-5px;
    right:-10px;
}
.loveicon{
    right:-15px;
    bottom:-10px;
}
/*弹幕*/
.barrage-box{
    width:100%;
    height:100%;
    position:fixed;
    top:100px;
    left:0;
    z-index:105;
}
.barrage_info{
    padding:8px 30px 8px 10px;
    background:rgba(255,255,255,.4);
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    position:absolute;
    display:flex;
    align-items: center;
    font-size:44px;
    right:0;
    width:450px;
}
.barrage_info img{
    width:80px;
    height:80px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.barrage_info span{
    padding-left:20px;
}
/*霸屏*/
.mask{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    position:fixed;
    top:0;
    left:0;
    z-index:110;
}
.mask-birthday{
    width:1079px;
    height:380px;
    background:url('../images/bir.jpg')no-repeat center 0;
    -webkit-background-size:cover;
    background-size:cover;
    position:absolute;
    top:50%;
    left:62%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.mask-bir-hd{
    width:700px;
    height:700px;
    background:url('../images/fixehd.png')no-repeat center 0;
    -webkit-background-size:cover;
    background-size:cover;
    position:absolute;
    top:50%;
    left:-45%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.bir-hd-box{
    width:360px;
    height:360px;
    position:absolute !important;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background:#fff;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    overflow:hidden;
}
.mask-bir-user{
    width:250px;
    height:125px;
    background:url('../images/user.png') no-repeat center 0;
    position:absolute;
    top:6%;
    left:13%;
}
.bir-user-box{
    width:70px;
    height:70px;
    position:absolute;
    left:50%;
    top:23%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    background:#000;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    overflow:hidden;
}
.bir-user-box img{
    width:100%;
}
.mask-bir-name{
    width:220px;
    height:75px;
    background:url('../images/namebox.png')no-repeat center 0;
    -webkit-background-size:cover;
    background-size:cover;
    position:absolute;
    top:37%;
    left:16%;
    font-size:28px;
    color:#555;
    line-height:75px;
    text-align:center;
}
.mask-bir-text{
    width:380px;
    height:240px;
    position:absolute;
    top:12%;
    right:25%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    font-size:40px;
    display:flex;
    align-items:center;
}
/*动画*/
@-webkit-keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
@keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-2px, 0, 0);
        transform: translate3d(-2px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count:3;
    -webkit-animation-iteration-count:3;
}
@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.4, 1.4, 1.4);
        transform: scale3d(1.4, 1.4, 1.4);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.swing {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}
@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}
@-webkit-keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}
@-webkit-keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count:3;
    -webkit-animation-iteration-count:3;
}


@-webkit-keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-delay:5s;
}
@-webkit-keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
    animation-delay: 1s;
}
@-webkit-keyframes jello {
    from,
    11.1%,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

@keyframes jello {
    from,
    11.1%,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

.jello {
    -webkit-animation-name: jello;
    animation-name: jello;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count:3;
    -webkit-animation-iteration-count:3;
    animation-delay: 1s;
}
